.status-bar {
  background-color: var(--primary-color);
  height: 150px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.status-bar h3 {
  font-size: 20px;
}